# Ignore Python virtual environments
ml_env/
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# ML model files
*.pth
*.h5
*.pt
*.onnx

# VS Code settings
.vscode/

# Temporary files
*.log
*.tmp

# Build & distribution folders
build/
dist/

# Flask instance folder
instance/

# Environment configs
.env
.env.*
